{{> head }}
{{> navbar }}


    <div class="row">

        <div class="col-8">
            <h1>Batman</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti animi velit cupiditate dolorem mollitia maiores? Debitis dicta architecto sed quaerat saepe atque. Quae, tempore mollitia? Atque aut ab tenetur perferendis?
            </p>

        </div>

        <div class="col-4">
            <img src="/assets/img/batman.png" alt="batman" class="img-thumbnail">

        </div>









    </div>





    {{> footer }}